body {
  padding: 20px 100px 20px 100px;
  font-family: Arial, Helvetica, sans-serif;
}

#title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 15px;
}

table {
  width: 100%;
  margin-top: 30px;
}

.left {
  width: 15%;
  padding-bottom: 10px;
}

td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.right {
  width: 85%;
  padding-left: 60px;
  padding-bottom: 10px;
}

select {
  padding: 5px 15px 5px 15px;
  background-color: whitesmoke;
  color: black;
}

.big {
  width: 100%;
  background-color: white;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
}

.disabled {
  background-color: #eeeeee;
}

button {
  width: 100%;
}

.error {
  font-size: 12px;
  color: red;
}
thead {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

tbody tr td {
  padding: 10px 15px 10px 15px;
}

#addresses {
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 100%;
}

#addresses tr:nth-child(even) {
  background-color: #f2f2f2;
}
